.disclaimeBtn{
  border-radius: 2rem;
}
.hiddenBtn{
  border-style: none;
  padding-left: 0px;
  padding-right: 0px;
  width: 20px;
  height: 23px;
}
.zeroBorder{
  border-color: none;
}
.center{
  margin: auto !important;
}
.logoFix{
  width: 12rem;
  height: 11rem;
}
.logoText{
  margin-bottom: .3rem !important;
}
.tRCRVA{
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}
.logoPad{
  padding-left: 1.5rem !important;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 1rem !important;
}
.disclaimPad{
  padding-left: 1rem !important;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-top: 1rem !important;
}
.hamburgerMarg{
  margin-left: 0 !important;
  margin-top: 1.5rem !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}
.custFa{
  font-size: 7rem;
  transform: rotate(15deg);
}
#nav-icon {
 width: 30px;
 height: 35px;
 position: relative;
 margin: 50px auto;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: .5s ease-in-out;
 -moz-transition: .5s ease-in-out;
 -o-transition: .5s ease-in-out;
 transition: .5s ease-in-out;
 cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 10px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 20px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 0px;
  top: 9px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 0px;
  top: 19px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

/*=========================
  Icons
 ================= */
/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
/* footer social icons */
.social-network a.icoLocal:hover {
	background-color:#fff;
}
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#eb7403;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
  font-size:20px;
	/*width: 150px;
	height: 150px;*/
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #eb7403;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.btn-font{
  font-size: 0.9rem;
  font-weight: 400;
}
.iconColor{
  color: #eb7403;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  border-color: #eceeef;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
}
.pl-c{
  padding-left: .9rem !important;
}
.fa-c{
  font-size: 1.63333333em;
}
